
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

footer {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
